:root{
    --primary:#cc6573;
    --secondary:#7a1921;
    --bg:#f5e6ea;
}


img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 2%;
}


.container {
    display: flex;
}

.container .box {
    width: 46%;
    margin: 0 auto 20px;
}

.reverse {
    flex-direction: row-reverse;
}

/* スケジュール */
.schedule {
    margin: 0 10px;
}
.schedule table {
    width: 48%;
}

.schedule table tr td {
    height: 100px;
}
.schedule table tr:nth-of-type(odd){
    background-color: var(--bg);
}
