:root {
    --primary: #6586cc;
    --secondary: #19387a;
    --bg: #e6ebf5;
}

h2.jhsc::before {
    content: "（「ビルメンテナンス科」と「住宅設備科」を再編）";
    color: var(--white);
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    top: 1em;
    right: 0.5em;
}