:root{
    --primary:#ccc565;
    --secondary:#7a5319;
    --bg:#f5f3e6;
}

img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 2%;
}


.container {
    display: flex;
}

.container .box {
    width: 46%;
    margin: 0 auto 20px;
}

.reverse {
    flex-direction: row-reverse;
}

/* 目指せる資格 */

.guide::after {
    content: '[試]';
    color: var(--secondary); 
    font-weight: bold;
    margin-left: 10px;
}

.cert::after {
    content: '[専]';
    color: var(--secondary); 
    font-weight: bold;
    margin-left: 10px;
}



/* スケジュール */
.schedule {
    margin: 0 10px;
}
.schedule table {
    width: 48%;
}

.schedule table tr td {
    height: 100px;
}
.schedule table tr:nth-of-type(odd){
    background-color: var(--bg);
}


/* 円グラフ */
.pie {
	position: relative;
	margin:0 auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.pie-60{
	background-image: conic-gradient(var(--primary) 0% 80%, var(--bg) 80% 100%);
}

.pie span {
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 26px;
	font-weight: 700;
}

