/* 目次 */
section.contents {
    border-left: var(--secondary);
}


/* テーブル全体のスタイル */
table {
    text-align: center;
    margin: 0 auto;
}

/* section {
    width: 90%;
    margin: 0 auto;
} */
/* 各科案内 */

section h4.in_head {
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary);
    padding: 10px 20px;
    border-left: 8px solid var(--secondary);  
}

section .box {
    padding: 0 20px;
}

#course-guide table td {
    line-height: 1.4;
}

#course-guide table tbody tr td:first-child {
    color: var(--black);
    width: 300px;
}

#course-guide table tbody tr td:first-of-type {
    border-bottom: 1px solid #dddddd;
}

#course-guide table tbody tr:nth-child(2) td:first-of-type {
    border-bottom-color: black;
}

#course-guide table tbody tr:nth-child(7) td:first-of-type {
    border-bottom-color: black;
}

#course-guide table tbody tr:last-child td:first-of-type {
    border-bottom-color: black;
}


#course-guide table tbody tr td:first-child a {
    color: var(--black);
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-size: 500;
}

#course-guide table tr td:nth-of-type(2) {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
}



/* 援護措置 */
section.support div {
    margin: 20px 10px;
    padding: 20px;
}

section.support div:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

.point {
    position: relative;
    font-size: 24px;
    margin-bottom: 0;
    border: none;
}

.point::before {
    content: "";
    display: block;
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    color: var(--secondary);
    top: -1.8em;
    left: 0;
}

.p01::before {
    content: '01';
}

.p02::before {
    content: '02';
}

.p03::before {
    content: '03';
}

.p04::before {
    content: '04';
}

.p05::before {
    content: '05';
}


section.message div {
    margin: 20px 10px;
    padding: 20px;
}

section.message div:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}



/* 入校応募書類の提出 */
table tr th {
    width: 200px;
}

table.td_left tr td:last-child {
    text-align: left;
    padding-left: 20px;
}
.flowchart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .step {
    background-color: #4CAF50; /* 緑色 */
    color: white;
    padding: 20px 40px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .step:hover {
    background-color: #45a049;
  }
  
  .arrow {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #4CAF50;
    margin: 10px 0;
  }


/* 矢印 */
.arrow-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.square {
    width: 40px;
    height: 30px;
    background-color: var(--secondary); /* 四角形の色 */
    margin: 0 auto;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid var(--secondary); /* 三角形の色 */
    margin: 0 auto;
}

/* 施設見学会 */

.visit table tr td:last-child {
    text-align: left;
    padding-left: 20px;
}



/* 入校選考の日時 */
