.catchcopy {
    background-color: var(--secondary);
    color: var(--white);
}

img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 2%;
}

span.marker {
    margin:0  0.5em;
    text-decoration: underline;
    text-decoration-thickness: 0.3em;
    text-decoration-color: yellow;
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
}

.container {
    display: flex;
    /* justify-content: space-between; */
}

.container .box {
    width: 46%;
    margin: 0 auto 20px;
}

.reverse {
    flex-direction: row-reverse;
}


/* 主なカリキュラム */
.curriculam h4 {
    font-size: 20px;
    border-bottom: 2px solid var(--secondary);
}

.in-head {
    font-weight: bold;
    color: var(--secondary);
}

.curriculam .container {
    justify-content: space-between;
}


.curriculam .container div:first-of-type{
    width: 60%;
}

.curriculam .container div:last-of-type{
    width: 35%;
}

/* 目指せる資格 */

/* .guide::after {
    content: '[試]';
    color: var(--secondary); 
    font-weight: bold;
    margin-left: 10px;
}

.cert::after {
    content: '[専]';
    color: var(--secondary); 
    font-weight: bold;
    margin-left: 10px;
} */



/* スケジュール */
.schedule {
    margin: 0 10px;
}
.schedule table {
    width: 48%;
}

.schedule table tr td {
    height: 100px;
}
.schedule table tr:nth-of-type(odd){
    background-color: var(--bg);
}

